:root {
  --bg-colour: #f0f1f7;
  --main-colour: #263d42;
}

body {
  background-color: var(--bg-colour);
}

.App {
  color: var(--main-colour);
  font-family: 'Gentium Book Basic', serif;
  text-align: center;
}

.App-footer {
  margin: 30px 0;
}
