.Header {
      align-items: center;
      margin-bottom: 30px;
      justify-content: center;
 }

.Dictionary {
    margin: 0 auto;
    max-width: 900px;
    text-align: left;
}

.Dictionary form {
    text-align: center;
}

input {
    background-color: var(--bg-colour);
    border : 1px solid var(--main-colour);
    color: var(--main-colour);
}

.SearchField {
    border-radius: 5px;
    margin-top: 10px;
    min-width: 350px;
    padding: 5px;
}

.SearchWord {
    font-size: 48px;
}

